* {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
*:after,
*:before {
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  max-width: 100%;
  max-height: 100%;
}
body {
  /* background: #eee; */
  background: url(images/bg-pc.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (max-width: 500px) {
  body {
    background: url(images/bg-phone.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
  }
}
.globalHeader {
  margin: 20px;
}
@media (min-width: 500px) {
  .globalHeader {
    margin: 140px 0 100px 0;
  }
}
.searchForm {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 500px) {
  .searchForm {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}
.searchForm > input {
  width: 100%;
  margin-right: 16px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  height: 40px;
  padding: 0 10px;
  outline: none;
}
.searchForm > button {
  white-space: nowrap;
  padding: 0 28px;
  font-size: 16px;
  border: none;
  background: #2f80ed;
  border-radius: 4px;
  outline: none;
}
.globalMain {
  margin: 20px;
}
@media (min-width: 500px) {
  .globalMain {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
}
.siteList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (min-width: 500px) {
  .siteList {
    margin-left: 0;
    margin-right: -25px;
    justify-content: flex-start;
  }
}
.siteList > li {
  margin-bottom: 10px;
}
@media (min-width: 500px) {
  .siteList > li {
    margin-right: 25px;
  }
}
.siteList .site {
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.6);
  /* border: 1px solid #dddddd; */
  border-radius: 4px;
  padding: 20px 0;
  position: relative;
  cursor: pointer;
}
.siteList .site > .logo {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 64px;
  margin-bottom: 4px;
  text-transform: uppercase;
}
.siteList .site > .link {
  font-size: 16px;
}
.siteList .site > .close {
  position: absolute;
  width: 16px;
  height: 16px;
  right: 0px;
  top: 0px;
}
@media (min-width: 500px) {
  .siteList .site > .close {
    display: none;
  }
}
.siteList .site > .close svg {
  position: relative;
  top: -3.5px;
}
@media (min-width: 500px) {
  .siteList .site:hover > .close {
    display: block;
  }
}
.siteList .addButton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 160px;
  padding: 20px 0;
  background-color: rgba(255, 255, 255, 0.6);
}
.siteList .addButton .icon {
  width: 48px;
  height: 48px;
}
.siteList .addButton .text {
  font-size: 16px;
}
.siteList .addButton .iconWrapper {
  width: 64px;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4px;
}
